td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    color: black;
}


tbody tr td:hover {
    background-color: darkcyan;
    color: black;
}

#counter {
    width: 40px;
}

#result {
    width: 300px;

}

input {
    border: none;
}